/*

time-date 14:46 - 16.10.2018
Create By Fariz Mamedow
Cascading Style Sheets
TL - Traffic Light (Svetofor)	

*/
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
body{
	background-color: #000000;
}
/*TL circle*/
.circle{
	margin: 0 auto;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	padding: 10px;
}
/*Top TL circle*/
#circle_top{
	background-color: #de1313;
	animation-name: red_animation;
	animation-duration: 15s;
	animation-iteration-count: infinite;;
	animation-direction: normal;


	-webkit-box-shadow: 0px 0px 226px 0px #de1313;
	-moz-box-shadow: 0px 0px 226px 0px #de1313;
	box-shadow: 0px 0px 226px 0px #de1313;
}
/*Central TL circle */
#circle_center{
	background-color: #caca15;
	animation-name: yellow_animation;
	animation-duration: 15s;
	animation-iteration-count: infinite;;
	animation-direction: normal;


	-webkit-box-shadow: 0px 0px 226px 0px #caca15;
	-moz-box-shadow: 0px 0px 226px 0px #caca15;
	box-shadow: 0px 0px 226px 0px #caca15;
}
/*Bottom TL circle*/
#circle_bottom{
	background-color: #1ebd1e;
	animation-name: green_animation;
	animation-duration: 15s;
	animation-iteration-count: infinite;;
	animation-direction: normal;


	-webkit-box-shadow: 0px 0px 226px 0px #1ebd1e;
	-moz-box-shadow: 0px 0px 226px 0px #1ebd1e;
	box-shadow: 0px 0px 226px 0px #1ebd1e;
}
/*TL upper circle animation*/
@keyframes red_animation{
	0%{opacity: 1}
	10%{opacity: 1}
	20%{opacity: 1}
	30%{opacity: 1}
	40%{opacity: 0.1}
	50%{opacity: 0.1}
	60%{opacity: 0.1}
	70%{opacity: 0.1}
	80%{opacity: 0.1}
	90%{opacity: 0.1}
	100%{opacity: 0.1}
}
/*Animation of the central circle*/
@keyframes yellow_animation{
	0%{opacity: 0.1}
	10%{opacity: 0.1}
	20%{opacity: 0.1}
	30%{opacity: 0.1}
	40%{opacity: 1}
	50%{opacity: 1}
	60%{opacity: 1}
	70%{opacity: 0.1}
	80%{opacity: 0.1}
	90%{opacity: 0.1}
	100%{opacity: 0.1}
}
/*TL lower circle animation*/
@keyframes green_animation{
	0%{opacity: 0.1}
	10%{opacity: 0.1}
	20%{opacity: 0.1}
	30%{opacity: 0.1}
	40%{opacity: 0.1}
	50%{opacity: 0.1}
	60%{opacity: 0.1}
	70%{opacity: 1}
	80%{opacity: 0.1}
	90%{opacity: 1}
	100%{opacity: 0.1}
}